<div id="surveyor">
  <%= @survey.sections.each do |section| %>
    <%= div_for section do %>
      <div class="title">
        <%= section.title %>
        <div class="questions">
          <% group_questions ||= [] %>
          <%= section.questions.each_with_index do |question, index| %>
            <% if question.part_of_group? %>
              <% group_questions << question %>
              <% if (index + 1 >= section.questions.size) or (question.question_group_id != section.questions[index + 1].question_group_id) %>
                <%= render(:partial => "/partials/question_group", :locals => {:question_group => question.question_group, :response_set => @response_set, :group_questions => group_questions}) %>
                <% group_questions = [] %>
              <% end %>
            <% else %>
              <%= render(:partial => "/partials/question", :locals => {:question => question, :response_set => @response_set}) %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
